#page-numbers {
  list-style: none;
  display: flex;
  margin: 25px 0;
  justify-content: center;
}

#page-numbers > li {
  font-size: 20px;
  color: navy;
  user-select: none;
  cursor: pointer;
  padding: 15px 25px;
}

#page-numbers li:hover {
  background-color: navy;
  color: white;
  border-radius: 5px;
  transition: background-color 0.5s;
}
