.content-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.journal-content {
  width: 800px;
}

.journal-menu {
  display: flex;
  justify-content: center;
}

.journal-form-input {
  display: flex;
}

.journal-form-input:first-child,
.journal-form-input:nth-child(2) {
  height: 50px;
  justify-content: flex-start;
  align-content: center;
  margin: 10px 0;
}

.journal-form-input:nth-child(3) {
  height: 200px;
  margin: 10px 0;
}

.journal-form-input > p {
  width: 100px;
  text-align: center;
}

.journal-form-input > input {
  outline: none;
  width: 600px;
}

.journal-form-input > textarea {
  outline: none;
  resize: none;
  height: 200px;
  width: 600px;
}

.form-title,
.form-content {
  font-size: 18px;
}

.form-button {
  border: none;
  outline: none;
  padding: 10px;
  width: 200px;
  background-color: lightskyblue;
  border-radius: 10px;
  color: white;
  font-size: 20px;
}

.button-center {
  text-align: center;
  margin-top: 20px;
}

.form-button-delete {
  border: none;
  outline: none;
  padding: 10px;
  width: 200px;
  background-color: red;
  border-radius: 10px;
  color: white;
  font-size: 20px;
}
