.auth-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  height: 100%;
  background-image: url("../LoginContainer/image/Journal.jpg");
  background-size: cover;
  background-position: center;
}

.auth-page {
  width: 360px;
  height: 480px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 10px;
}

.auth-form > h3 {
  font-size: 30px;
  text-align: center;
  margin: 40px;
}

.auth-form-input {
  display: flex;
}

.auth-form-input > input {
  background: #eee;
  border: none;
  padding: 10px 20px;
  width: 80%;
  margin: 10px 0;
  border-radius: 5px;
  margin-left: 15px;
}

.material-icons {
  margin-top: 15px;
  margin-left: 10px;
}

.auth-form-input > button {
  margin: auto;
  background-color: turquoise;
  font-size: 18px;
  margin-top: 40px;
  border: none;
  padding: 10px 0;
  width: 40%;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

.auth-page > p {
  text-align: center;
  margin-top: 30px;
}

.auth-link {
  text-decoration: none;
  color: red;
}
